* {
    font-family: Arial, Helvetica, sans-serif;
} 


body {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
   
    
  
    
}

.container {
    display: flex;
    width: 990px;
    justify-content: space-between; 
    
    
    
}

.logo,
.logo a:hover {
   display: flex;
   align-items: center;
   background-color: #fff;
   text-decoration: none;
   margin-left: 20px;
  
  
    
    
    
}

.menu {
   
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    color: #727272;
    
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: aliceblue;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(./images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;

}

.column {
    flex-direction: column;
}

.banner-headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.banner-headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner-headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner-options{
    height: 210px;
    display: flex;

}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
    
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner-title {
    font-size: 21px;
}

.banner-desc{
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}



.operating-time {
    display: flex;
    flex-direction: column;
}


.operating-time span {
    justify-content: flex-end;
    
}

.monday-friday,
.saturday,
.sunday {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px 15px 0px;
    border-bottom: 1px solid rgb(92, 90, 90);
    font-size: 13px;
    
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}


.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.aside-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.block {
    width: 150px;
    height: 150px;
    background-color: #2b4c99;
    margin: 20px 0px 20px 0px;
    max-width: 300px;
    
}


.contact-icons .phone,
.contact-icons .email,
.contact-icons .contact-form {
    display: flex;
    width: auto;
    height: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(197, 185, 185);
    padding: 8px;
    justify-content: flex-start;
    
   
}

.contact-icons span {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    margin-left: 10px;
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    
}

article a {
    text-decoration: none;
}

article .news-data {
    display: flex;
}

article .news-posted-at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news-coments {
    background-color: #36a9e1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news-thumb{
    margin-top: 30px;
}

article .news-thumb img {
    width: 100%;
    height: auto;
   
}

article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

article .news-resume {
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 30px ;
}

footer {
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
}

.footer-menu {
    display: flex;
    
}

.fm1, .fm2, .fm3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm1{
    background-color: #39aae1;
    
}

.fm2{
    background-color: #0079c7;
}

.fm3{
    background-color: #2b4c99;
}

.footer-area {
    display: flex;
    color: #fff;
}

.footer-area-item {
    flex: 1;
    color: #fff;
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

footer .widget-title-text {
    color: #fff;
    
}

.footer-area .descrip {
    font-size: 12px;
    color: #7a7676;
    text-indent: left;
}

.footer-copy {
    border-top: 1px solid #2c2c2c;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}

address {
    color: #7a7676 ;
    margin-top: 20px;
    font-size: 12px;
}

address span {
    display: flex;
    justify-content: flex-end
}

address a {
    color: #fff;
    text-decoration: none;
}
.contact-icons svg {
   background-color: #413f3f;
    margin-top: 45px;
   margin-left: 15px;

}
.latest-posts {
    font-size: 12px;
     color: #ffffff ;
         
}

.latest-posts ul li {
    display: flex;
    padding: 5px 20px 5px 0px;
    
     
 }
 

.latest-posts li:before {
    content: "\2192"; /* código unicode para a seta apontando para a direita */
    margin-right: 5px; /* espaço entre a seta e o texto */
    color: #fff;
  }

.latest-posts  a {
    color: #0079c7;
    text-decoration: none;
    margin-top: 15px;
    
}




.latest-posts  a:hover{

    text-decoration: underline;
}

.date-post {
    margin-left: 35px;
}

.latest-reviews {
    font-size: 12px;
     color: #7a7676 ;
         
}

.latest-reviews ul li {
    display: flex;
    padding: 5px 20px 5px 0px;
    
     
 }
 

.latest-reviews li:before {
    content: "\2192"; 
    margin-right: 5px; 
    color: #fff;
  }

.latest-reviews  a {
    color: #0079c7;
    text-decoration: none;
    margin-top: 15px;
    
}


.latest-reviews  a:hover{

    text-decoration: underline;
}

.date-post {
    margin-left: 35px;
}

.menuMobile {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm-line{
    height: 3px;
    background-color: #39aae1;
}


@media (max-width:600px) {

    .banner-headline {
        padding: 20px;
    }

    .banner-headline h1 {
        font-size: 55px;
    }
    
    .banner-headline h2 {
        font-size: 17px;
    }

    .banner-options {
        height: auto;
        flex-direction: column;
    }

    article {
        margin-top: 2rem;
    }

    .aside-blocks {
        margin-top: 2rem;
    }


    .container {
        flex-direction: column;

    }

    #geral aside {
        padding: 20px;
    }

    #geral section {
        padding: 20px;
    }

    .widget .first {
        margin-top: 11rem;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-area {
        flex-direction: column;
        padding: 20px;
    }

    .footer-copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px ;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}